@tailwind base;
@tailwind components;
@tailwind utilities;

.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }
  
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  .bm-item {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .bm-item:hover {
    color: #a90000;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .truncate-text {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  .custom-swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .custom-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .custom-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #000;
  }

  .slide-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }